<script>
    alert("fs")
</script>

<h1>Hola</h1>
<!--<ul *ngFor="let pings of eping">-->
  <span *ngIf="eping" >{{eping.ping}}</span>

<!--</ul>-->
<jqxChart
        [width]="850" [height]="500"
        [title]="'Top 5 Most Populated Countries'" [description]="'Statistics for 2011'"
        [enableAnimations]="false" [showLegend]="true" [padding]="padding"
        [titlePadding]="titlePadding" [source]="sampleData" [xAxis]="xAxis"
        [valueAxis]="valueAxis" [seriesGroups]="seriesGroups" [colorScheme]="'scheme01'">
</jqxChart>
<!--<jqxBarGauge *ngIf="eping" [width]="600" [max]="150" [colorScheme]="'scheme02'" [(values)]="ping">-->

<!--</jqxBarGauge>-->
<!--<jqxBarGauge  [width]="600" [max]="150" [colorScheme]="'scheme02'" [values]="[10,30,50]">-->

<!--</jqxBarGauge>-->
